main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
div.faq {
    width: 80rem;
    animation-name: visible;
    animation-duration: 1500ms;
    /*padding: 3rem 0 10rem 0;*/
}

div.faq > h2 {
    /*font-size: 2rem;*/
    /*letter-spacing: 2rem;*/
    /*text-align: center;*/
    /*margin-bottom: 7rem;*/
}

div.faq > section {
    padding: 3rem 5rem;
    margin-top: 7rem;
    margin-bottom: 17rem;
    box-sizing: border-box;
}

div.faq > section > div {
    padding: 2rem 0;
}

div.faq > section > div:not(:last-child) {
    border-bottom: 0.00125rem solid #777777a0;
}

div.faq > section > div:hover {
    background-color: #f0f2f480;
}

div.faq > section > div > h3 {
    cursor: pointer;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    position: relative;
}

div.faq > section > div > h3 > span {
    right: 0;
    position: absolute;
}

div.faq > section > div > p {
    color: #777777;
    margin-bottom: 1.5rem;
    line-height: 3rem;
    word-spacing: 0.2rem;
}


@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
