div.introduce {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: visible;
    animation-duration: 1500ms;
}

div.introduce > div > h2 {
    font-size: 4rem;
    color: #f0a050;
    margin-bottom: 2rem;
}

div.introduce > div > p {
    width: 35rem;
    line-height: 2rem;
    word-spacing: 0.22rem;
    color: #777;
}




@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}