ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section {
    width: 60rem;
}

main > section.boardHeaderWrap{
    align-items: flex-start;
    border-bottom: 0.0625rem solid #777777;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section.boardHeaderWrap > div {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > section.boardHeaderWrap > div > a {
    padding: 1rem 2rem;
    background-color: #77777777;
    margin-right: 2rem;
    border: 0.0625rem solid #77777777;
    border-radius: 0.5rem;
    cursor: pointer;
}

main > section.boardHeaderWrap > div > button:not(:last-child) {}

main > section.boardHeaderWrap > div > span {
    flex: 1;
}

main > section.boardHeaderWrap > div.boardInfo > ul {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > section.boardHeaderWrap > div.boardInfo > ul > li:not(:last-child) {
    margin-right: 3rem;
}

main > section.boardHeaderWrap > div.boardInfo > ul > span {
    flex: 1;
}

main > section.boardContentWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10rem;
}

main > section.boardContentWrap > * {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section.boardContentWrap > * > img {
    width: 30rem;
}

main > section.boardCommentWrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
}

main > section.boardCommentWrap > form > table > tbody > tr > td > label > input {
    width: 40rem;
}