main {
    height: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > div {
    width: 100%;
    height: inherit;
}

main > div.boardNav {
    align-items: center;
    width: 28rem;
    border-right: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > div.boardNav > nav {
    line-height: 5rem;
    font-size: 1.125rem;
}

main > div.boardNav > nav > ul > li > a {
    transition-duration: 300ms;
}

main > div.boardNav > nav > ul > li > a:hover {
    color: #f0a050;

}

main > div.article {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}


main > div.article > table {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main > div.article > table > thead {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > div.article > table > thead > td > th {
    margin: 0 1rem;
}

main > div.article > table > tbody {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main > div.article > table > * > tr {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main > div.article > table > tbody > tr {
    padding: .75rem 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




