main {
    height: 100%;
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > div {
    width: 100%;
    height: inherit;
}

main > div.boardNav {
    height: 28rem;
    align-items: center;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > div.boardNav > span {
    flex: 1;
}

main > div.boardNav > nav {
    line-height: 5rem;
    font-size: 1.125rem;
}

main > div.boardNav > nav > ul > li > a {
    transition-duration: 300ms;
}

main > div.boardNav > nav > ul > li > a:hover {
    color: #f0a050;

}

main > div.boardNav > div.searchContent > form {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 8rem;
}

main > div.boardNav > div.searchContent > form > *:not(:last-child) {
    margin-right: 0.3rem;
}

main > div.boardNav > div.searchContent > form > select {
    border-radius: 0.33rem;
    width: 5.5rem;
}

main > div.boardNav > div.searchContent > form > input[name="keyword"] {
    width: 10rem;
}

main > div.article {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


main > div.article > table {
    width: 90%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 10rem;
}

main > div.article > table > thead {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > div.article > table > thead > td > th {
    margin: 0 1rem;
}

main > div.article > table > tbody {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

main > div.article > table > * > tr {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main > div.article > table > tbody > tr {
    padding: .75rem 0;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: .75rem;
}

main > div.article > table > tfoot > tr {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > div.article > table > tfoot > tr > td > a.writeButton {
    right: 20%;
    background-color: #1e90ff77;
    border: 0.0625rem solid #1e90ff77;
    border-radius: 0.5rem;
    /*margin-left: 40rem;*/
    padding: 1rem 2rem;
    position: absolute;
}

main > div.article > table > tfoot > tr > td {
    margin: 0.5rem 0;
}


main > div.article > table > tfoot > tr > td > div {
    margin: 1rem 0;
}

main > div.article > table > tfoot > tr > td > div > *{
    background-color: #99999944;
    border-radius: 0.33rem;
    padding: 0.5rem;
}

@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}




