<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pfad1.mappers.IBoardMapper">
    <delete id="deleteArticle" parameterType="com.example.pfad1.entities.board.ArticleEntity">
        DELETE
        FROM `pfad`.`articles`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
    <select id="selectArticle"
            parameterType="com.example.pfad1.entities.board.ArticleEntity"
            resultType="com.example.pfad1.entities.board.ArticleEntity">
        SELECT `article`.`index`        AS `index`,
               `article`.`id`           AS `id`,
               `article`.`board_code`   AS `boardCode`,
               `article`.`created_at`   AS `createdAt`,
               `article`.`updated_at`   AS `updatedAt`,
               `article`.`title`        AS `title`,
               `article`.`content`      AS `content`,
               `article`.`view`         AS `view`,
               `article`.`deleted_flag` AS `isDeleted`,
               `board`.`name`           AS `name`
        FROM `pfad`.`articles` AS `article`
                 LEFT JOIN `pfad`.`boards` AS `board` ON `article`.`board_code` = `board`.`code`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <select id="selectArticlesByList"
            parameterType="com.example.pfad1.vos.board.ListVo"
            resultType="com.example.pfad1.entities.board.ArticleEntity">
        SELECT `index`        AS `index`,
               `id`           AS `id`,
               `board_code`   AS `boardCode`,
               `created_at`   AS `createdAt`,
               `updated_at`   AS `updatedAt`,
               `title`        AS `title`,
               `view`         AS `view`,
               `deleted_flag` AS `isDeleted`
        FROM `pfad`.`articles`
        WHERE `board_code` = #{code}
          AND `deleted_flag` = FALSE
        ORDER BY `articles`.`index` DESC
        LIMIT #{queryLimit} OFFSET #{queryOffset}
    </select>

    <select id="selectBoard"
            parameterType="com.example.pfad1.interfaces.IBoard"
            resultType="com.example.pfad1.entities.board.BoardEntity">
        SELECT `code`                   AS `code`,
               `name`                   AS `name`,
               `read_forbidden_flag`    AS `isReadForbidden`,
               `write_forbidden_flag`   AS `isWriteForbidden`,
               `comment_forbidden_flag` AS `isCommentForbidden`
        FROM `pfad`.`boards`
        WHERE `code` = #{boardCode}
        LIMIT 1

    </select>

    <select id="selectArticleCount"
            parameterType="com.example.pfad1.entities.board.BoardEntity"
            resultType="_int">
        SELECT COUNT(0)
        FROM `pfad`.`articles`
        WHERE `board_code` = #{code}
    </select>

    <select id="selectArticleCountGreaterThan"
            parameterType="com.example.pfad1.entities.board.ArticleEntity"
            resultType="_int">
        SELECT COUNT(0)
        FROM `pfad`.`articles`
        WHERE `board_code` = #{boardCode}
          AND `index` >= #{index}
    </select>

    <update id="updateArticleView"
            parameterType="com.example.pfad1.entities.board.ArticleEntity">
        UPDATE `pfad`.`articles`
        SET view = view + 1
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <update id="updateArticleDeleted"
            parameterType="com.example.pfad1.entities.board.ArticleEntity">
        UPDATE `pfad`.`articles`
        SET `deleted_flag` = TRUE
        WHERE `index` = #{index}
        LIMIT 1
    </update>
</mapper>