<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pfad1.mappers.IProductMapper">
    <delete id="deleteProduct"
            parameterType="com.example.pfad1.entities.product.ProductEntity">
        DELETE
        FROM `pfad`.`products`
        WHERE `index` = #{index}
        LIMIT 1
    </delete>
    <select id="selectProducts"
            resultType="com.example.pfad1.entities.product.ProductEntity"
            parameterType="com.example.pfad1.entities.product.ProductEntity">
        SELECT `index`      AS `index`,
               `name`       AS `name`,
               `price`      AS `price`,
               `created_at` AS `createdAt`,
               `update_at`  AS `updatedAt`,
               `thumbnail`  AS `thumbnail`
        FROM `pfad`.`products`
    </select>

    <select id="selectProduct"
            resultType="com.example.pfad1.entities.product.ProductEntity"
            parameterType="com.example.pfad1.entities.product.ProductEntity">
        SELECT `index`       AS `index`,
               `name`        AS `name`,
               `price`       AS `price`,
               `description` AS `description`,
               `stock`       AS `stock`,
               `created_at`  AS `createdAt`,
               `update_at`   AS `updatedAt`,
               `thumbnail`   AS `thumbnail`
        FROM `pfad`.`products`
        WHERE `index` = #{index}
        LIMIT 1
    </select>

    <insert id="insertImage"
            parameterType="com.example.pfad1.vos.board.ImageUploadVo">
        INSERT INTO `pfad`.`images` (`mime`, `file`, `file_name`)
        VALUES (#{fileMime}, #{fileBytes}, #{fileName})
    </insert>

    <insert id="insertProduct"
            parameterType="com.example.pfad1.vos.product.ProductRegisterVo">
        INSERT INTO `pfad`.`products` (`name`, `price`, `stock`, `description`, `thumbnail`)
        VALUES (#{name}, #{price}, #{stock}, #{description}, #{fileName})
    </insert>

    <update id="updateProduct"
            parameterType="com.example.pfad1.entities.product.ProductEntity">
        UPDATE `pfad`.`products`
        SET `name`        = #{name},
            `price`       = #{price},
            `description` = #{description},
            `stock`       = #{stock},
            `thumbnail`   = #{thumbnail},
            `update_at`   = NOW()
        WHERE `index` = #{index}
        LIMIT 1
    </update>

    <insert id="insertCart"
            parameterType="com.example.pfad1.entities.cart.CartEntity">
        INSERT INTO `pfad`.`carts` (product_index, user_id, stock)
        VALUES (#{productIndex}, #{userId}, #{stock})
    </insert>

    <select id="selectCountCart"
            parameterType="com.example.pfad1.entities.cart.CartEntity"
            resultType="int">
        SELECT COUNT(*)
        FROM `pfad`.`carts`
        WHERE `product_index` = #{productIndex}
          AND `user_id` = #{userId}
    </select>

    <update id="updateCart"
            parameterType="com.example.pfad1.entities.cart.CartEntity">
        UPDATE `pfad`.`carts`
        SET `stock` = `stock` + #{stock}
        WHERE `product_index` = #{productIndex}
        AND `user_id` = #{userId}
    </update>

</mapper>