main {
    height: 100%;
}
div.home {
    min-width: 80rem;
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    animation-name: visible;
    animation-duration: 1500ms;
}

div.home > img.pure {
    top: 14%;
    left: 22%;
    animation-duration: 3s;
    animation-name: upDown;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    position: absolute;
    z-index: -10;
}

div.home > img.orange {
    top: 43%;
    left: 40%;
    position: absolute;
}

div.home > h1{
    width: 25rem;
    top: 23%;
    left: 42%;
    font-size: 3.5rem;
    color: forestgreen;
    position: absolute;
}

@keyframes upDown {
    from {
        top: 15%;
    }
    100% {
        top: 12%;
    }
}


@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}