@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
/*@import url(../resources/static/user/resources/stylesheets/home.css);*/



th {
    text-align: left;
}

textarea {
    width: 50rem;
    height: 10rem;
    font: inherit;
}

textarea:focus {
    outline: none;
}

td.addressTd > input:not(:last-child) {
    margin-bottom: 1rem;
}

input[name="birth"] {
    width: 8rem;
}


input[name="gender"]{
    width: 1.5rem;
}

input[name="contactSecond"], input[name="contactThird"] {
    width: 5rem;
}

input[name="addressPostal"] {
    width: 5rem;
}

input[name="addressButton"] {
    width: 6rem;
}

input[name="addressPrimary"], input[name="addressSecondary"] {
    width: 23rem;
}

input, select, option {
    border: 0.0625rem solid #c0c2c4;
    font: inherit;
    outline: none;
    padding: 0.33rem 0.5rem;
    resize: none;
}

input:focus, select:focus, textarea:focus {
    border: 0.0625rem solid #1e90ff;
}


html {
    font-family: 'Noto Sans KR', sans-serif;
    user-select: none;
    position: relative;
    min-height: 100%;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style-type: none;
}

h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-align: center;
    /*margin-bottom: 1rem;*/
}

body {
    height: 100%;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
}

body > header {
    width: 100%;
    height: 10rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div {
    width: 80rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > header > div > ul > li {
    color:#999;
    transition: color 300ms linear; /* vendorless fallback */
    -o-transition: color 300ms linear; /* opera */
    -ms-transition: color 300ms linear; /* IE 10 */
    -moz-transition: color 300ms linear; /* Firefox */
    -webkit-transition: color 300ms linear; /*safari and chrome */
}

body > header > div > ul > li:not(:last-child){
    margin-right: 2.5rem;
}

body > header > div > ul > li:hover {
    color: #f0a050;
    cursor: pointer;
}

body > header > div > ul > li.board {
    position: relative;
    padding: 0 1.5rem;
    margin-left: -2rem;
}


body > header > div > ul > li.board > a > span {
    font-size: 0.77rem;
    padding-left: 0.25rem;
}

body > header > div > ul > li.board > ul {
    display: none;
    position: absolute;
    width: 20rem;
    padding-left: 0;
    left: -6rem;
    padding-top: 1rem;
}

body > header > div > ul > li.board:hover > ul {
    display: block;
}

body > header > div > ul > li.board > ul > li {
}

body > header > div > ul > li.board:hover > ul > li > a{
    color: #999999;
    transition-duration: 300ms;
}

body > header > div > ul > li.board:hover > ul > li > a:hover{
    color: #f0a050;
}

body > header > div > ul > li.board > ul > li > a:not(:last-child) {
    margin-right: 2.5rem;
}

/*body > header > div > ul > li.board:hover {*/
/*    position: relative;*/
/*    left: 6.25rem;*/
/*}*/


body > header > div > span {
    flex: 1;
}

body > header > div > img.shop {
    /*margin-left: 3rem;*/
    width: 4rem;
}

body > main.content {
    height: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

body > footer {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background-color: #aaaaaa55;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
}
body > footer > div {
    width: 60rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > footer > div > span {
    flex: 1;
}

body > footer > div > ul {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > footer > div > ul > li > a{
    font-size: 1.125rem;
}

body > footer > div > ul > li:not(:last-child) {
    margin-right: 1.5rem;
}

body > footer > div > p > span.designed {
    margin-left: 3rem;
}


@keyframes visible {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
