body > form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > form > div {
    width: 80rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

body > form > div > section:not(:last-child) {
    padding: 0 5rem;
    margin-right: 5rem;
}

body > form > div > section.productInfo {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body > form > div > section.productInfo > div {
    margin-bottom: 2rem;
}

body > form > div > section.productInfo > div.category {
    width: 20rem;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

body > form > div > section.productInfo > div > label[for="productDes"] {
    display: block;
}

body > form > div > section.productInfo > div > input{
    margin-left: 1rem;
    border: transparent;
    border-bottom: 0.0625rem solid #777777;
}

body > form > div > section.productInfo > div > input:focus {
    border: transparent;
    border-bottom: 0.0625rem solid #1e90ff;
}


body > form > div > section.productInfo > div > textarea {
    width: 20rem;
}

body > form > div > section > input {
    border: transparent;

}

body > form > div > section > div.productImagePreview {
    border: 0.0625rem solid #999;
    width: 30rem;
    height: 20rem;
}

body > form > div.registerButton {
    width: 20rem;
}

body > form > div.registerButton > input {
    width: inherit;
}

