figure.image > img {
    width: 100%;
}


ul {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section {
    width: 60rem;
}

main > section.boardHeaderWrap{
    align-items: flex-start;
    border-bottom: 0.0625rem solid #777777;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section.boardHeaderWrap > div {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > section.boardHeaderWrap > div > a {
    padding: 1rem 2rem;
    background-color: #77777777;
    margin-right: 2rem;
    border: 0.0625rem solid #77777777;
    border-radius: 0.5rem;
    cursor: pointer;
}

main > section.boardHeaderWrap > div > button:not(:last-child) {}

main > section.boardHeaderWrap > div > span {
    flex: 1;
}

main > section.boardHeaderWrap > div.boardInfo > ul {
    width: inherit;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main > section.boardHeaderWrap > div.boardInfo > ul > li:not(:last-child) {
    margin-right: 3rem;
}

main > section.boardHeaderWrap > div.boardInfo > ul > span {
    flex: 1;
}

main > section.boardContentWrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5rem;
    box-sizing: border-box;
}

main > section.boardContentWrap > * {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section.boardContentWrap > * > img {
    width: 30rem;
}

main > section.boardCommentWrap {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    margin-bottom: 10rem;
}

main > section.boardCommentWrap > form > table > tbody > tr > td > label > input {
    width: 40rem;
    margin-bottom: 1rem;
}

main > section.boardCommentWrap > form > table > tbody > tr > td > div > table {
    width: 100%;
}

main > section.boardCommentWrap > form > table > tbody > tr > td > div > table > tbody.comment {

}

main > section.boardCommentWrap > form > table > tbody > tr > td > div > table > tbody.comment > tr > td > div{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40rem;
}

main > section.boardCommentWrap > form > table > tbody > tr > td > div > table > tbody.comment > tr > td > div > span {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    min-width: 100%;
    padding: 0.5rem 0.5rem;
    border-radius: 0.5rem;
}

main > section.boardCommentWrap > form > table > tbody > tr > td > div > table > tbody.comment > tr > td > div > span:not(:last-child) {
    /*background-color: #99999955;*/
}

main > section.boardCommentWrap > form > table > tbody > tr > td > div > table > tbody.comment > tr > td > div > span > a.commentDelete {
    color: #cd5c5c;
    margin: 0 0.5rem;
}

main > section.boardCommentWrap > form > table > tbody > tr > td > div > table > tbody.comment > tr > td > div > span > span {
    flex: 1;
}